
body {
	color: blue;
	text-align: center;
	font-size: 27px;
    background-image: url("logos/back.jpg");
    background-size: cover;
    background-position: center;
}


.profile {
	
	width: 350px;
	height: 300px;
    border-radius: 30px;
	
}
	



.img {
	
	width: 45px;
	height: 45px;
    border-radius: 5px;
}
	
	
}

p1 {
  font-family: comix No2 CLM;

	
}

.profile {

    width: 400px;
	height: 350px;	
}

.cn {
    width: 300PX;
	height: 140PX;
	
	
}



img {
  max-width: 100%;
  vertical-align: top;
}


    .new  {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
	  width: 100%;
      height: auto;
	  border: 2px solid #ddd;
      border-radius: 4px;
    
	}
	
	.re {
      display: inline-block;
      padding: 5px 20px;
      font-size: 25px;
      text-align: center;
      text-decoration: blue;
      background-color: #008CBA;
      color: YELLOW;
      border-radius: 100px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
	  font-family: Ink Free;
    }

    .re:hover {
      background-color: #005580;
    }
	
	